  <!-- this style is a Template Driven Forms -->
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h2>Login</h2>

    <div class="control-row">
      <div class="control no-margin">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          required
          name="email"
          ngModel
          pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
          #emailCtrl="ngModel"
        />
      </div>

      <div class="control no-margin">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          required
          minlength="6"
          ngModel
          name="password"
          #passwordCtrl="ngModel"
        />
      </div>

      <button class="button">Login</button>
    </div>
    @if (emailCtrl.touched && emailCtrl.dirty && emailCtrl.invalid) {
    <p class="control-error">Invalid Email Address entered.</p>
    } @if (passwordCtrl.touched && passwordCtrl.dirty && passwordCtrl.invalid) {
    <p class="control-error">Invalid Password. Must be at least 6 Characters.</p>
    }
  </form>
